<div id="container">
  <table id="burgertable" data-dojo-attach-point="burgertable">
    <thead>
      <tr>
        <th class="tableHeader1" data-dojo-attach-point="tableHeader1">Name</th>
        <th class="tableHeader2" data-dojo-attach-point="tableHeader2">Type</th>
        <th class="tableHeader3" data-dojo-attach-point="tableHeader3">
          Price(Bath)
        </th>
        <th
          class="tableHeader4"
          data-dojo-attach-point="tableHeader4"
          colspan="2"
        ></th>
      </tr>
    </thead>
    <tbody data-dojo-attach-point="tbody"></tbody>
    <!-- <tr>
      <td>Cheese Burger</td>
      <td>Fast Food</td>
      <td>100</td>
      <td>
        <button type="button" id="edit" data-dojo-attach-point="edit">
          Edit
        </button>
      </td>
      <td>
        <button type="button" id="delete" data-dojo-attach-point="delete">
          Delete
        </button>
      </td>
    </tr> -->
  </table>
</div>
