<div id="container">
  <table id="restable" data-dojo-attach-point="restable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-dojo-attach-point="tbody"></tbody>
    <!-- <tr>
        <td>Max Burger</td>
        <td>Fast Food</td>
        <td>
          <button type="button" id="view" data-dojo-attach-point="view">
            View Menu
          </button>
        </td>
        <td>
          <button type="button" id="edit" data-dojo-attach-point="edit">
            Edit
          </button>
        </td>
        <td><button type="button" id="delete">Delete</button></td>
      </tr> -->
  </table>
</div>
